@charset "utf-8";

body{
    background-color: #eeeeee;
}
.pos-re{
    position: relative;
}
.pos-ab{
    position:absolute;
}
.end-aline{
    display: inline-block;
    text-align:justify;
    text-align-last:justify;
    padding-right:5px;
    padding-left:20px;
    line-height:34px;
}
.sign-left{
    float: left;
    line-height: 34px;
    font-weight: bold;
}
.titleCss{
	color: #ffffff;
	margin-top:35px;
    margin-top: -80px;
    font-weight:bold;
    text-indent: -2em;
	margin-right: 300px;
}
.clear-mp{
    margin: 0;
    padding: 0;
}
.my-aside{
    height: 100%;
    background-color:rgb(230, 230, 230);
    box-sizing: border-box;
    border-right:1px solid #ccc;
}
.my-aside ul{
    list-style: none;
    width: 100%;
    margin: 0;
    margin-top: -10px;
    padding: 10px 0;
}
.my-aside ul li{
    text-align: center;
    line-height: 50px;
    font-size: 20px;
	font-weight: bold;
    color: #1b4fa3;
    border-top:1px solid #ccc;
}
.my-aside ul li:nth-child(1){
    border-top:0 none;
}
.my-aside ul li a{
	text-align: center;
    display:inline-block;
    width: 100%;
    line-height: 50px;
    /* color: #fff; */
}
.my-aside ul li i{
    display:inline-block;
    text-align: left;
    width:190px;
}
.my-aside ul li p{
    display:inline-block;
    text-align: left;
    width:190px;
}
.my-aside ul .li-active{
    background-color: #fff;
}
.my-aside ul .li-active a{
    color: #f0ad4e;
}
.second-menu{
    /* display: none; */
    background-color: #1e2831;
}
.second-menu li{
    padding-left: 15px;
}

.aside-logo{
    /* background-color: #283643;
    background-color: #66ccff;*/
    background-color:rgba(166, 132, 74, 0.57);
    padding:10px 0;
    min-height: 50px;
    width: 100%;
}
.aside-logo h2{
    margin: 0px;
    color: #9a773b;
    text-align: center;
}
.aside-logo h2 span{
    color: #fff;
    text-align: center;
    font-size: 16px;
}
.item-down{
    float: right;
    margin-top: 14px;
    font-size: 18px;
}

.my-navbar{
    border: none;
    height: 68px;
    background-color: #fff;
    border-radius: 0;
}
.my-navbar-brand{
    height: 68px;
}
.my-signed{
    margin-top: 9px;
    font-size: 16px;
}
.my-signed i{
    font-size: 20px;
}
.my-main{
    margin: 0 15px;
}

#myModalJoin{ overflow-y:hidden!important;}
.tableContent{
    width:95%; margin: 0 auto;
}
.modal-header{
    border-bottom: none;
}
.con-cen{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tips{
    display:block;
    text-align:left;
    color:red;
    font-size:12px;
    margin-top:15px;
}
.wraper{
    position:relative;
    /* box-shadow: -5px 0 5px #ccc, 5px 0 5px #ccc, 0 -5px 5px #ccc, 0 5px 5px #ccc;
    width:95%;
    background:#fff;
    margin:30px auto; */
    padding:10px 10px 20px 10px;
}
.posAb{
    position:absolute;
    bottom:-15px;
    left:0;
}
.pos-tr{
    top:0;
    right:20px;
    line-height:34px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.form-group{
    position:relative;
}
.form-group b{
    position:absolute;
    left:0;
    top:0;
    line-height:34px;
    text-indent:8px;
    color:red;
}
#myModalLabel.modal-title{
    line-height: 1em;
}
.modal-body.jh-mh-sc{
    padding-top: 0px;
}
.wd100{width:100%!important;}
.nopad{padding: 0;}
.newRow{padding-bottom: 15px;}

.wd205{width:20.5%!important;}
.wd84{width:84%!important;}
.wd1000{width: 1000px !important;}
.jh-ad-0{
    padding: 0; 
}
.jh-ad-1{
    padding: 0; 
    line-height: 34px;
}
.jh-lh-33{
    line-height:33px
}
.jh-lh-34{
    line-height:34px
}
.jh-lh-39{
    line-height:39px
}
.jh-pa-1{
    padding-right:5px; 
    padding-left:20px;
}
.jh-pa-2{
    padding-right:30px;
    padding-bottom:1.5%;
}
.jh-mp-1{
    margin-top: 15px;
    padding-bottom:1.5%;
}
.jh-wd-33{width:33% !important; margin-bottom: 10px !important;}
.jh-mb-0{
    margin-bottom:0 !important;
}
.jh-mr0{
    margin-right:0;
}
.jh-mr-0{
    margin-right:.7%;
}
.jh-mr-1{
    margin-right:1.5%;
}
.jh-mr-2{
    margin-right:2.5%;
}
.jh-mr-55{
    margin-right:55px;
}
.jh-mr-35{
    margin-right:35px;
}
.jh-mr-30{
    margin-right:30px !important;
}
.jh-mr-45{
    margin-right:45px;
}
.jh-mr-25{
    margin-right:25px;
}
.jh-pl-1{
    padding-left:0.8%;
}
.jh-tw-1{
    text-align:left;
    width:27.3%;
}
.jh-ta-l{
    text-align:left;
}
.jh-fl{
    float: left;
}
.jh-fr{
    float:right !important;
}
.jh-mt-15{
    margin-top: 15px;
}
.jh-mt-5{
    margin-top: 5px;
}
.jh-mt-22{
    margin-top: 22px;
}
.jh-mt-0{
    margin-top: 0px;
}
.jh-mt-40{
    margin-top: 40px;
}
.jh-mb-4{
    margin-bottom: 4px;
}
.jh-mb-10{
    margin-bottom: 10px;
}
.jh-fz-20{
    font-size: 20px
}
.jh-po-re{
    position:relative;
}
.jh-m-15{
    margin: 15px 0;
}
.jh-new-store{
    width: 180px;
    height: 40px; 
    display: inline;
}
.jh-te-r{
    text-align: right;
}
.jh-pr-0{
    padding-right:0;
}
.jh-max-464{
    max-height:464px
}
.jh-mh-sc{
    max-height: 650px;
    overflow-y: scroll;
}
.jh-mb10-lh25{
    margin-bottom: 20px;
    line-height: 25px;
}