@charset "utf-8";
.tab-pane .you1 {
	border: 1px solid #DDDDDD;
	width: 100%;
	overflow: auto;
	padding-bottom: 20px;
}

.you1 .man1 {
	margin-top: 10px;
	overflow: auto;
	position: relative;
}
/* .active{
	background: red;
} */

.you1 .man1 .gou1 {
	position: absolute;
	width: 300px;
}
.you1 ul li .niucha1{
	text-align: center;
	color:#97753d;
	position: absolute;
	right: 50px;
	bottom: 12px;
	font-size: 18px;
}

.you1 .man2 .gou1 {
	position: absolute;
	width: 300px;
}

.you1 .man2 {
	margin-top: 30px;
	position: relative;
	overflow: auto;
}

.you1 .man {
	margin-top: 20px;
	overflow: auto;
}

.you1 .man .manjian {
	width: 100%;
	background: #DDDDDD;
	height: 1px;
}

.you1 .man .manjian1 {
	width: 50px;
	font-size: 16px;
	background: #fff;
	position: absolute;
	left: 45%;
	top: 10px;
}


.btn-numbox1 {
	overflow: hidden;
	margin-top: 30px;
	margin-bottom: 20px;
}

.btn-numbox1 li {
	float: left;
}

.btn-numbox1 li .number1 {
	display: inline-block;
	font-size: 16px;
	color: #333;
	margin-right: 30px;
	vertical-align: sub;
}
.youa{
	display: none;
}

.btn-numbox1.count1 {
	overflow: hidden;
	margin: 0 16px 0 -20px;
}

.btn-numbox1 .count1 .num-jian1,
.input-num1,
.num-jia1 {
	display: inline-block;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	border: 1px solid #e6e6e6;
}
.num-jia1,.num-jian1{
	background-color: rgba(136, 165, 178, 1);
}
.btn-numbox1 .count1 .input-num1 {
	width: 58px;
	height: 28px;
	color: #333;
	border-left: 0;
	border-right: 0;
}

.you1 .man2 .manjian1 {
	width: 50px;
	font-size: 16px;
	background: #fff;
	position: absolute;
	left: 45%;
	top: 8px;
}

.you1 ul {
	margin-top: 20px;
	overflow: auto;
}

.you1 ul li {
	width: 300px;
	position: relative;
	float: left;
	margin-bottom: 20px;
	overflow: auto;
	height: 100px;
	background: url(../../../static/img/youhui_jin.png) no-repeat left center;
	background-size: auto;
	margin-right: 6px;
}


@font-face {
	font-family: 'fontnameRegulars';
	src: url(../../../static/img/rui.ttf);
}

.wuxian{
	display: none;
}
.you1 ul li .jia {
	font-family: "fontnameRegulars";
	font-size: 25px;
	position: absolute;
	left: 10px;
	color: #97753d;
	top: 28px;
}
.you1 ul li .jia span{
	color: #97753d;
	font-family: "思源黑体";
	font-size: 14px;
}

.you1 ul li .manzu {
	overflow: auto;
	position: absolute;
	right: 50px;
	top: 32px;
	font-weight: bold;
	color: #97753d;
	font-size: 16px;
}

.you1 ul li .titleSY {
	overflow: auto;
	position: absolute;
	right: 7px;
	top: 10px;
	color: #97753d;
	font-size: 14px;
	width: 189px;
	text-align: center;
}
.you1 ol li .titleSY {
	overflow: auto;
	position: absolute;
	right: 7px;
	top: 10px;
	color: #f1c49b;
	font-size: 14px;
	width: 189px;
	text-align: center;
}

.you1 ol li .niucha1{
	text-align: center;
	color:#f1c49b;
	position: absolute;
	right: 50px;
	bottom: 12px;
	font-size: 18px;
}

.you1 ul li .youxiao {
	overflow: auto;
	position: absolute;
	right: 15px;
	color: #97753d;
	top: 53px;
	font-size: 14px;
}
.you1 ul li .bianhaoasd {
	font-size: 14px;
	position: absolute;
	left: 14px;
	color: #97753d;
	top: 63px;
}

.you1 ul li .niucha {
	overflow: auto;
	position: absolute;
	left: 120px;
	color: #97753d;
	top: 70px;
	font-size: 14px;
}

.you1 ul li .niucha p {
	width: 30px;
	height: 1px;
	margin-top: 10px;
	margin-right: 5px;
	background: #97753d;
	float: left;
}


.you1 ol li .jia {
	font-family: "fontnameRegulars";
	font-size: 28px;
	position: absolute;
	left: 28px;
	color: #f1c49b;
	top: 20px;
}

.you1 ol li .bianhaoasd {
	font-size: 14px;
	position: absolute;
	left: 14px;
	color: #f1c49b;
	top: 63px;
}

.you1 ol li .jia span {
	font-size: 14px;
	margin-left: 2px;
	font-family: "思源黑体";
}

.you1 ol li .manzu {
	overflow: auto;
	position: absolute;
	right: 50px;
	font-weight: bold;
	top: 32px;
	color: #f1c49b;
	font-size: 16px;
}

.you1 ol li .youxiao {
	overflow: auto;
	position: absolute;
	right: 15px;
	color: #f1c49b;
	top: 53px;
	font-size: 14px;
}

.you1 ol li .niucha {
	overflow: auto;
	position: absolute;
	left: 120px;
	color: #f1c49b;
	top: 72px;
	font-size: 14px;
}

.you1 ol li .niucha p {
	width: 30px;
	height: 1px;
	margin-top: 10px;
	margin-right: 5px;
	background: #f1c49b;
	float: left;
}

.you1 ul li:last-child {
	margin-bottom: 0;
	margin-right: 0;
}

/* .you1 ul li:nth-last-child(2),
.you1 ul li:nth-last-child(3) {
	margin-bottom: 0;
} */

.you1 ol {
	margin-top: 20px;
	overflow: auto;
}

.you1 ol li {
	width: 300px;
	margin-bottom: 20px;
	float: left;
	position: relative;
	overflow: auto;
	height: 100px;
	background: url(../../../static/img/youhui_hong.png) no-repeat left center;
	background-size: auto;
	margin-right: 6px;
}

.you1 ol li:last-child {
	margin-right: 0;
	margin-bottom: 0;
}
.you1 ol li:nth-child(3n) {
	margin-right: 0;
}
.gan1 {
	margin-left: -5px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: red;
	color: #fff;
	margin-top: -15px;
	position: absolute;
	margin-left: -30px;
}

.gantan1 {
	color: red;
}
.el-tooltip__popper.is-light[x-placement^=bottom] .popper__arrow{
	border-bottom-color:#108ee9!important;
}
.el-tooltip__popper.is-light{
	border-bottom-color:#108ee9!important;
}

.gan1 p {
	padding-left: 6px;
	color: #fff;
}
/* 单选盒子样式 */
.choosebox {
    border-top: #2c3e50 1px solid;
    text-align: left;
    padding: 20px;
    font-size: 16px;
    color: #2c3e50;
    line-height: 3;
}
.choosebox1 {
    font-size:16px;
    color: #2c3e50;
    margin-bottom: 20px;
    padding-left: 20px;
    width: 98%;
    /* border: 1px dashed #2c3e50;
    padding: 10px; */
}

.classbox1 {
    border: 1px dashed #2c3e50;
    padding: 10px;
}

.cho1 { margin-left: 482px; margin-right: 40px;}
.cho2 { margin-left: 210px; margin-right: 40px;}
.cho3 { margin-left: 258px; margin-right: 40px;}
.cho4 { margin-left: 498px; margin-right: 40px;}
.cho5 { margin-left: 301px; margin-right: 40px;}
.cho6 { margin-left: 338px; margin-right: 40px;}
.cho7 { margin-left: 465px; margin-right: 40px;}
.text{ margin-top: 20px;}
.checkbox1 {display: flex; margin-top: 10px;}
.inputWechat{ width: 434px; height: 34px; padding:0 4px; display: block; margin-left: 80px; margin-top:3px; border: 1px solid #C0C4CC;}
.classtop {display: flex; padding: 0 30px 20px 20px; justify-content: space-between; align-items: center;}
.classtop2 {display: flex; padding:10px 60px 20px 20px ; justify-content: space-between; align-items: center;}
.station {margin-top: 20px; position: relative; right:48px;
}
.bott{ margin-bottom: 40px;}
.timeselect { width: 200px;}
.reason{ width: 90%;}
.addflex { display: flex; }
.addinput { width: 100px; }
.form-cortrol {width: 90%;}
.editinput{
    /* position: absolute;
    left: 13px; */
    bottom: 11px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #999;
    z-index: 99;
}
/* 确认返回按钮 */
.clearBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* 单选框样式 */
.question {
    display: inline;
}
.radio {
    position: relative;
    display: inline-block;
    margin-right:0 40px;
  }

  .radio input {
    width: 15px;
    height: 15px;
    appearance: none;
    /*清楚默认样式*/
    -webkit-appearance: none;
    opacity: 0;
    outline: none;
  }

  .radio label {
    /* position: absolute; */
    min-height: 15px;
    padding-left: 15px;
    left: 0;
    top: 2px;
    /* width: 15px;
    height: 15px; */

    border: 1px solid #2C3E50;
  }

  .radio input:checked+label::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 0px;
    /* 这里显示矩形的一半边框再旋转45度来实现对勾样式 */
    width: 5px;
    height: 12px;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    transform: rotate(45deg);
  }
/* test */
/* 增加按钮 */
/* .boxchoose{ display: flex; justify-self: start;} */